<!DOCTYPE html>
<html>
	<head>
		<title>Companies Sales 2020.pdf</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<%= wicked_pdf_stylesheet_link_tag "pdf" %>
    <%= wicked_pdf_javascript_include_tag "pdf" %>
    <%= wicked_pdf_javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>


    <%= wicked_pdf_javascript_pack_tag "charts" %>
    <%#= wicked_pdf_javascript_pack_tag "https://www.gstatic.com/charts/loader.js" %>
    <%#= wicked_pdf_javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag "charts" %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%#= javascript_include_tag wicked_pdf_asset_base64('pdf') %>
    <%#= stylesheet_link_tag wicked_pdf_asset_base64("pdf.scss") %> 
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%= yield %>
</body>
</html>